body{
    font-family: "Lato", sans-serif;
    background-color: #2E354F;
    color: #fff;
}
h1{
    padding: 20px 0 20px 20px;
}

h2{
    color:#EF5839;
}

.section-1{
    background-color: #fff;
}
.blogpost{
    width: 580px;
    padding: 25px;
}
.secPara-1{
    color: #2E354F;
    width: 580px;
}

.anc-sect{
    color: #EF5839;
}
.sect2-space{
    padding: 25px;
}
.secPara-2{
    color: #fff;
}


.btn{
    display:inline-block;
    padding: 20px;
    text-decoration: none;
}

.btn-a1{
    background-color:#EF5839;
    color: #fff;
    
    
}
.btn-a2{
    background-color: #fff;
    color:#2E354F;
    
}